.ipynb_checkpoints/
*~
*.cmi
*.cmo
Brouillon.ipynb
Code/_build
Code/dune-project
Rapport/_minted-rapport
Rapport/rapport.aux
Rapport/rapport.bbl
Rapport/rapport.blg
Rapport/rapport.log
Rapport/rapport.out
Rapport/.auctex-auto
Diaporama/.auctex-auto/
Diaporama/diapo.aux
Diaporama/diapo.log
Diaporama/diapo.nav
Diaporama/diapo.out
Diaporama/diapo.snm
Diaporama/diapo.toc
Diaporama/diapo.vrb
Diaporama/texput.log
Diaporama/_minted-diapo/
Diaporama/diapo.dvi
Diaporama/diapo.pyg
Diaporama/missfont.log
Diaporama/diapo.fdb_latexmk
Diaporama/diapo.fls
Diaporama/diapo.synctex.gz
Diaporama/diapo.xdv